.img-in-carousel {
    width: 600px;
    height: 300px;
}

.title {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.cardImg {
    border-radius: 55;
    padding: 40px;
}

.row {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}

.footerRow{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.google-map {
    padding-bottom: 50%;
    position: relative;

}

.google-map iframe {
    border: solid black;
    height: 60%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}